@import url(./layout.css/_reset.css);
@import url(./layout.css/_header.css);
@import url(./layout.css/_footer.css);
@import url(./components/_index.css);
@import url(./components/_optical.css);
body{
  font-family: 'Noto Sans TC', 'Roboto' , sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
a{
  text-decoration: none;
  color: #fff;
}
.container{
  max-width: 1296px;
  margin: 0 auto;
}
.m0-a{
  margin: 0 auto;
  display: block;
}
.mra{
  margin-right: auto;
}
.bg-red{
  background: #AA0601;
}
.bg-white{
  background: #fff;
}
.brown{
  color: #650300;
}
.red{
  color: #AA0601;
}
.black{
  color: #000;
}
.white{
  color: #fff;
}
.gray{
  color: #707070;
}
.w636{
  width: 636px;
}
.d-block{
  display: block;
}
.d-flex{
  display: flex;
}
.column{
  flex-direction: column;
}
.jc-sb{
  justify-content: space-between;
}
.jc-fe{
  justify-content: flex-end;
}
.jcc{
  justify-content: center;
}
.jc-fe{
  justify-content: flex-end;
}
.jc-sa{
  justify-content: space-around;
}
.tac{
  text-align: center;
}
.tar{
  text-align: right;
}
.tal{
  text-align-last: left;
}
.aic{
  align-items: center;
}
.ai-fe{
  align-items: flex-end;
}
.fz14{
  font-size: 14px;
}
.fz20{
  font-size: 20px;
}
.fz24{
  font-size: 24px;
}
.fz32{
  font-size: 32px;
}
.fz36{
  font-size: 36px;
}
.fz42{
  font-size: 42px;
}
.fz48{
  font-size: 48px;
}
.fz64{
  font-size: 64px;
}
.fwb{
  font-weight: bold;
}
.fw900{
  font-weight: 900;
}
.fsi{
  font-style: italic;
}
.mb4{
  margin-bottom: 4px;
}
.mb8{
  margin-bottom: 8px;
}
.mb16{
  margin-bottom: 16px;
}
.mb24{
  margin-bottom: 24px;
}
.mb32{
  margin-bottom: 32px;
}
.mb33{
  margin-bottom: 33px;
}
.mb48{
  margin-bottom: 48px;
}
.py8{
  padding: 8px 0;
}
.py24{
  padding: 24px 0;
}
.py80{
  padding: 80px 0;
}

@media(max-width: 768px){
	.container{
		max-width: 696px;
		margin: 0 auto;
	}
}