.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px;
}
.block {
  display: block;
}
.flex {
  display: flex;
}
.jc-s {
  justify-content: start;
}
.jc-e {
  justify-content: end;
}
.jc-c {
  justify-content: center;
}
.jc-sb {
  justify-content: space-between;
}
.aic {
  align-items: center;
}
.aie{
  align-items: end;
}
.column {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.text-start {
  text-align: left;
}
.text-end {
  text-align: right;
}
.fz-32{
  font-size: 32px;
}
.mb4{
  margin-bottom: 4px;
}
.mb32{
  margin-bottom: 32px;
}
.ms-32{
  margin-left: 32px;
}
.py-32{
  padding: 32px 0;
}