// 1.字體變數 : 16px default
$font-size-base: 1rem !default;
// 64/48/36/24/20/14
$font-size-type:(
  1: $font-size-base * 4,
  2: $font-size-base * 3,
  3: $font-size-base * 2.25,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base * .875
  );

@each $name, $size in $font-size-type {
  .fz-#{$name} {
    font-size: $size;
  }
}

$font-weight-type: (
  medium: 400,
  bold: 700,
  bolder: 900
);

@each $name, $weight in $font-weight-type{
  .fw-#{$name} {
    font-weight: $weight;
  }
}

// 2. 顏色變數
$color-type: (
  primary: #AA0601,
  secondary: #650300,
  light: #FBF2F2,
)

