// 1.字體變數 : 16px default
$font-size-base: 1rem !default;
// 64/48/36/24/20/14
$font-size-type:(
  1: $font-size-base * 4,
  2: $font-size-base * 3,
  3: $font-size-base * 2.25,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base * .875
  );

@each $name, $size in $font-size-type {
  .fz-#{$name} {
    font-size: $size;
  }
}

$font-weight-type: (
  regular: 300,
  medium: 400,
  bold: 700,
  bolder: 900
);

@each $name, $weight in $font-weight-type{
  .fw-#{$name} {
    font-weight: $weight;
  }
}

// 2. 顏色變數
$color-type: (
  primary: #AA0601,
  secondary: #650300,
  bright: #FBF2F2,
  light: #ffffff,
  info: #707070
);

@each $name, $color in $color-type {
  .bg-#{$name} {
    background: $color;
  }
  .text-#{$name} {
    color: $color;
  }
}

// 3.推擠變數 : dafault 16px
$space-base: 1rem !default;
// 8/16/24/48/64/80
$space-type: (
  1: $space-base * 0.5,
  2: $space-base,
  3: $space-base * 1.5,
  4: $space-base * 3,
  5: $space-base * 4,
  6: $space-base * 5,
);

@each $name, $size in $space-type {
  // margin
  .mt-#{$name} {
    margin-top: $size;
  }
  .mb-#{$name} {
    margin-bottom: $size;
  }
  .my-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .mx-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }
  .me-#{$name} {
    margin-right: $size;
  }
  .ms-#{$name} {
    margin-left: $size;
  }
  // padding
  .ps-#{$name} {
    padding-left: $size;
  }
  .pe-#{$name} {
    padding-right: $size;
  }
  .pt-#{$name} {
    padding-top: $size;
  }
  .pb-#{$name} {
    padding-bottom: $size;
  }
  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
  .py-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}


