.logo a{
	display: block;
	width: 80px;
	height: 49px;
	background-image: url(../../image/logo-white.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: 101%;
	white-space:nowrap;
	overflow: hidden;
}
.menu li{
	padding: 25px 0 25px 64px;
}
@media(max-width: 768px){
	.menu li{
		padding-left: 64px;
	}
}