header{
	padding: 16px 0;

	@media (max-width: 375px){
		padding-bottom: 0;
	}
}

.logo a{
	display: block;
	width: 80px;
	height: 48.57px;
	background-image: url(../../image/logo-white.png);
	background-size: contain;
	background-repeat: no-repeat;
	text-indent: 101%;
	white-space:nowrap;
	overflow: hidden;
	
}
.menu li{
	padding-left: 64px;
}
@media(max-width: 768px){
	.menu li{
		padding-left: 64px;
	}
}
@media (max-width: 375px){
	.menu li{
		margin-right: 0;
		border: 1px solid #fff;
		width: 50%;
	}
	.menu li a{
		height: 100%;
		display: block;
		padding: 8px 32px;
	}
	.nav{
		flex-direction: column;
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.menu{
		flex-wrap:wrap;
	}
}