.navbar {
  padding: 16px 0;
  .logo {
    background-image: url(../../image/nav/logo-white.png);
    background-size: contain;
    width: 80px;
    height: 49px;
    // 圖片取代文字
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  };
  &-menu a {
    color: #fff;
  }
}
