.banner{
	background-image: url(../../image/home-header.png);
	max-width: 100%;
	height: 787px;
	background-size: cover;
	background-repeat: no-repeat;
}
.banner-txt{
	color:#650300;
	padding-top: 296px;
}
.banner-txt a{
	padding: 6px 12px;
	background: #AA0601;
}
.bg-pink{
	background: #FBF2F2;
	color: #650300;
}
.service img{
	width: 84px;
	height: 84px;
}
.service p{
	color: #000;
}
.design{
	background-image: url(../../image/index-bg.png);
	background-size: cover;
	background-position: center center;
}.bd-pink{
  border: 1px solid pink;
}

.recommand-txt{
	border: 1px solid #DEE2E6;
	box-shadow: 0px 2px 6px #00000029;
	justify-self: end;
	padding: 16px;
}
.recommand-txt p:last-of-type{
	padding-top: 72px;
}
.input-style{
	background-color: transparent;
	padding: 6px 12px;
	border: 1px solid #000;
	width: 100%;
}
.feedback{
	resize: none;
	min-height: 136px;
}
.agree{
	width: 20px;
	height: 20px;
	margin: 4px 4px 0 0;
}
.btn{
	max-width: 416px;
	padding: 16px;
}